<h3>HomeCustomer</h3>

@{/* Customer sign in screen.
 * 
 * After this, options to check ticket status, update acct info, or change password.
 * 
 * Check ticket status will query Db based on the acct used and show tickets.
 * Will show which tickets are open and which are closed.
 * 
 * Likely these options will be on the same page in dialog boxes when the option is clicked.
 * 
 * Known-needed components:
 * change own password 
 * customer info updater (own acct info passed in as parameter)
 * check ticket Db by search parameter (own acct info passed in as parameter) */}

@code {

}
