@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

I am...

<a href="/HomeCustomer" class="btn btn-primary">a customer</a>
<a href="/HomeTech" class="btn btn-primary">a technician</a>
<a href="/HomeAdmin" class="btn btn-primary">an administrator</a>

@{
    /* The root page that is launched on the site.
         * Only contains 3 options to bring user to the appropriate home screen.
         * At their respective home screen will each user sign in with their credentials. */
}
