<h3>HomeSelect</h3>

@{/* The initial page that is launched on the site.
 * Only contains 3 options to bring user to the appropriate home screen.
 * At their respective home screen will each user sign in with their credentials. */}

@code {

}
