<h3>TicketCreate</h3>

@{/* On this page a tech can create tickets.
 * 
 * Will need to have options for creating new customer acct
 * or using existing customer acct. probably passed in with parameters */}

@code {

}
