<h3>TicketUpdate</h3>

@{/* Page led to by multiple pages:
 * the tech's TicketCheck and TicketCreate pages and admin's CustomerAcctUpdate.
 * 
 * Main functions of this page are to update contact and repair logs and to close tickets.
 * 
 * If closing a ticket, it would be nice to be able to notify a customer automatically. */}

@code {

}
