<h3>ChangeOwnPasswordComponent</h3>

@{/* This is a component that will be used on multiple pages.
 * 
 * The UserId of the user on the page it's hosted on will be passed into
 * the component as a parameter so the correct info is changed. */}

@code {

}
