<h3>CustomerAccountUpdateComponent</h3>

@{
    /* This is a component that will be used on multiple pages.
     * 
     * any customer acct info except password (changed by self or admin) 
     * is changed using this component. accessed by customers to change their own info
     * by passing in their UserId as a parameter. Accessed by techs to change customer info
     * by searching the customer table in Db. Accessed by admins to change any customer info
     * and then logged in the contact log. */
}

@code {

}
