<h3>TicketCheckComponent</h3>

@{
    /* This is a component that will be used on multiple pages.
     * 
     * Can be accessed by customers to check their own tickets by passing in
     * their UserId as a parameter. Can be accessed by techs on 2 pages
     * (open and closed) just for this component by searching the ticket table
     * in Db, which leads to the TicketUpdate screen. */
}

@code {

}
