@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-5">The hard work of our technicians makes our business possible!</h1>
</div>
<p></p>
Don't forget to thank your clients for their time and for using PC Clinic.
<p></p>
To check the queue of open tickets for repair work click 'Ticket Queue'
<br />
To check our list of customers and see their devices, tickets, and repair logs click 'Customer List'
<br />
If you are an administrator click 'Administrative Actions'
<p><h3>Notice:</h3></p>
If this were a real website, it would be required for the technician or administrator to log in to access this page. However, authentication doesn't work with the application's SQLite database. This is not an oversight, it is a limitation because we were asked to use SQLite for the application's database. 