@page
@model PcClinicTicketingRazorUi.Pages.Users.EditUser
@{
}

<h3>Edit User Information</h3>
<form method="post">
    <div class="form-group">
        @Html.HiddenFor(x => x.user.UserId)

        @Html.HiddenFor(x => x.user.UserType)

        <label asp-for="user.FirstName">First name</label>
        <input asp-for="user.FirstName" class="form-control" />
        <span asp-validation-for="user.FirstName" class="text-danger"></span>

        <p></p>
        <label asp-for="user.LastName">Last name</label>
        <input asp-for="user.LastName" class="form-control" />
        <span asp-validation-for="user.LastName" class="text-danger"></span>

        <p></p>
        <label asp-for="user.Email">Email address</label>
        <input asp-for="user.Email" class="form-control" />
        <span asp-validation-for="user.Email" class="text-danger"></span>

        <p></p>
        <label asp-for="user.Phone">Phone number</label>
        <input asp-for="user.Phone" class="form-control" />
        <span asp-validation-for="user.Phone" class="text-danger"></span>

        <p></p>
        <label asp-for="user.Address">Street address</label>
        <input asp-for="user.Address" class="form-control" />
        <span asp-validation-for="user.Address" class="text-danger"></span>

        <p></p>
        <label asp-for="user.City">City</label>
        <input asp-for="user.City" class="form-control" />
        <span asp-validation-for="user.City" class="text-danger"></span>

        <p></p>
        <label asp-for="user.State">State</label>
        <input asp-for="user.State" class="form-control" />
        <span asp-validation-for="user.State" class="text-danger"></span>
    </div>
    <p></p>
    <button type="submit" class="btn btn-primary">Edit user</button>
</form>