@page "/HomeTech"

<h3>Technician Homepage</h3>

<GetCustomers></GetCustomers>
<GetDevices></GetDevices>
<GetTickets></GetTickets>
<GetOpenTickets></GetOpenTickets>
<GetClosedTickets></GetClosedTickets>
<GetRepairLogs></GetRepairLogs>

<GetCustomerByPhone></GetCustomerByPhone>

<GetDevicesByUserId></GetDevicesByUserId>
<GetTicketsbyDeviceId></GetTicketsbyDeviceId>
<GetRepairLogsByTicketId></GetRepairLogsByTicketId>

@code {

}
