@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to Pc Clinic!</h1>

I am...

<a href="/HomeTech" class="btn btn-primary">a technician</a>
<a href="/HomeAdmin" class="btn btn-primary">an administrator</a>

@{
    
}
