@page "/HomeAdmin"

<PageTitle>Admin Homepage</PageTitle>

<h3>Admin Homepage</h3>

<p>Manage tech acct info</p>

<CustomerAccountUpdateComponent></CustomerAccountUpdateComponent>

<p>Manage customer acct password</p>

<p>Delete customer acct info in case of issues</p>

<ChangeOwnPasswordComponent></ChangeOwnPasswordComponent>

@{/* Admin sign in screen.
 * 
 * The purpose of this component is to manage data that should not be in the hands
 * of techs such as the login info of techs (they can change their own passwords but that is all),
 * customer passwords, ability to delete customer accounts if necessary.
 * Contains Api calls for all other customer data needs as well for convenience.
 * Add/remove technicians
 * Check repairlogs by tech id
 * 
 * Cannot change other admins' acct info, only their own password.
 * Privelege above this level would fall beyond management and into the purview of IT. 
 * 
 * Known-needed components:
 * customer info updater
 * change own password */}

@code {

}
